<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDsv4d0ToPw8LEH6NqqBIYDDbEaBqMSdjc</string>
	<key>GCM_SENDER_ID</key>
	<string>495290529369</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.validators.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>validators-e169b</string>
	<key>STORAGE_BUCKET</key>
	<string>validators-e169b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:495290529369:ios:887504d0139abb7ab5a348</string>
</dict>
</plist>